/* ========================================================================== 

   Base styles 

   ========================================================================== */

h4 {
  display: flex;
  gap: 0.5rem;
}

/* ========================================================================== 

   Layout styles 

   ========================================================================== */

.output-cv-container {
  height: 100%;
  width: 45%;
  background-color: white;
}

header {
  height: 20%;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--evergreen);
  justify-content: center;
  gap: 1rem;
}

.cv-contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

main {
  height: 80%;
  width: auto;
}

/* ========================================================================== 

   Component styles 

   ========================================================================== */

.icon {
  filter: invert();
}

/* ========================================================================== 

   State styles 

   ========================================================================== */

/* ========================================================================== 

   Utility classes 

   ========================================================================== */

/* ========================================================================== 

   Media queries 

   ========================================================================== */

@media (max-width: 1024px) {
}
