/* ========================================================================== 

   Base styles 

   ========================================================================== */

h4 {
  display: flex;
  gap: 0.5rem;
}

main {
  color: var(--secondary-font-color);
}

/* ========================================================================== 

   Layout styles 

   ========================================================================== */

.output-cv-container {
  height: 100%;
  width: 45%;
  background-color: white;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.5);
}

header {
  height: 20%;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--evergreen);
  justify-content: center;
  gap: 1rem;
}

.cv-contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

main {
  height: 80%;
  width: auto;
  padding: 1rem;
}

.section-header {
  padding: 0.1rem;
  margin: 1rem;
  border-radius: 5px;

  background-color: var(--evergreen-light);
  color: var(--evergreen);
}

/* ========================================================================== 

   Component styles 

   ========================================================================== */

.icon {
  filter: invert();
}

/* ========================================================================== 

   State styles 

   ========================================================================== */

/* ========================================================================== 

   Utility classes 

   ========================================================================== */

/* ========================================================================== 

   Media queries 

   ========================================================================== */

@media (max-width: 1024px) {
}
