.personal-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;

  border: 2px solid white;
  border-radius: 15px;
}

.input-group {
  width: 100%;
}

input {
  width: 100%;
}
