/* ========================================================================== 

   Layout styles 

   ========================================================================== */

#root {
  height: 100vh;
  width: auto;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(240, 0, 0, 0.15);
}

/* ========================================================================== 

   Component styles 

   ========================================================================== */

/* ========================================================================== 

   State styles 

   ========================================================================== */

/* ========================================================================== 

   Utility classes 

   ========================================================================== */

/* ========================================================================== 

   Media queries 

   ========================================================================== */
