/* ========================================================================== 
   Base styles 
   ========================================================================== */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #242424;

  --primary-color: var(--evergreen);
  --secondary-color: #242424;
  --tertiary-color: rgb(240, 240, 240);

  --evergreen: #132a13;
  --evergreen-light: #1e3d1e41;

  --primary-font-color: white;
  --secondary-font-color: black;

  --shadow: rgba(89, 89, 89, 0.4);

  --font-size-base: 16px;
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px (base) */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */
  --font-size-6xl: 4rem; /* 64px */
}

/* Global Body Styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
